<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这不是黄色网站</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link href="../static/style.css" type="text/css" rel="stylesheet"/>
    <script src="../static/ad.js"></script>
</head>
<body>
<div id = 'dingbu'>
    <div id = "logo">
        <div id="dingbutu"><img src="https://www.logaster.cn/static/images/not_allowed.png" height="60" width="60"></div>
        <div id="mingcheng">这不是黄色网站</div>
    </div>
    <div id = "button">
        <div id="yzsq" onclick="cli('yzsq')">亚洲色情</div>
    </div>
    <div id="guanggao">
        <span style="color: #28873f;">这是广告</span>
    </div>
</div>
</body>
</html>